
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div>

    <!-- Content Wrapper. Contains page content -->
    <div>
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>İstatistikler</h1>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <!-- Small Box (Stat card) -->
                <div class="row">
                    <div class="col-lg-3 col-6 ">
                        <!-- small card -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>@ViewBag.countCategory</h3>

                                <br />
                                <p>Toplam Kategori Sayısı</p>
                            </div>

                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small card -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>@ViewBag.countHeading</h3>
                                <br />

                                <p>Yazılım Kategorisine ait Başlık Sayısı</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-6">
                        <!-- small card -->
                        <div class="small-box bg-gradient-indigo">
                            <div class="inner">
                                <h3>@ViewBag.countWriter</h3>
                                <br />

                                <p>Yazar Adında a Harfi Geçen Yazar Sayısı</p>

                            </div>
                        </div>
                    </div>


                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small card -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>@ViewBag.categoryName</h3>
                                <br />
                                <p>En Fazla Başlığa Sahip Kategori Adı</p>
                            </div>

                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- /.row -->
                <!-- Small Box (Stat card) -->
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small card -->
                        <div class="small-box bg-blue">

                            <div class="inner">
                                <h3>@ViewBag.trueFalseFark</h3>

                                <p>Kategori Tablosunda Durumu True Olan Kategoriler ile False olan Kategoriler Arasındaki Fark</p>
                            </div>

                        </div>
                    </div>
                    <!-- ./col -->
                </div>

                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
