@using EntityLayer.Concrete
@model List<Message>

@{
    ViewBag.Title = "Draftbox";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">

    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Taslak Mesaj Sayfası</h1>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            @Html.Action("ContactPartial", "Contact")
            <!-- /.col -->
            <div class="col-md-9">

                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Taslak Mesajlar</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Mail Kutusunda Ara">
                                <div class="input-group-append">
                                    <div class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <div class="icheck-primary">
                                                    <a href="/Message/DeleteMessage/@item.MessageID"><button type="button" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></button></a>
                                                </div>
                                            </td>
                                            <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
                                            <td class="mailbox-name"><a href="/Message/GetMessageDetail/@item.MessageID">@item.ReceiverMail</a></td>
                                            <td class="mailbox-subject">

                                                @if (item.MessageContent.Length >= 50)
                                                {
                                                    <a href="/Message/GetMessageDetail/@item.MessageID">
                                                        <b>@item.Subject</b>- @Html.Raw(item.MessageContent.Substring(0, 50))
                                                    </a>
                                                }
                                                else if (item.MessageContent.Length < 50)
                                                {
                                                    <a href="/Message/GetMessageDetail/@item.MessageID">
                                                        <b>@item.Subject</b>- @Html.Raw(item.MessageContent)
                                                    </a>
                                                }
                                            </td>
                                            <td class="mailbox-attachment"></td>
                                            <td class="mailbox-date">@(((DateTime)item.MessageDate).ToString("dd-MMM-yyyy"))</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

</body>
</html>
