@using EntityLayer.Concrete
@model List<Content>

@{
    ViewBag.Title = "ContentByHeadingPartial";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <!-- Timelime example  -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- The time line -->
                        <div>
                            <!-- timeline time label -->

                            <div class="text-center">
                                <h4>
                                    <span class="text-bold"> @ViewBag.heading</span>
                                </h4>
                            </div>
                            <br />
                            @foreach (var item in Model)
                            {
                                <div class="card-footer card-comments">
                                    <div class="card-comment">
                                        <!-- User image -->
                                        <img class="img-circle img-sm" src="@item.Writer.WriterImage" alt="User Image">

                                        <div class="comment-text">
                                            <a  href="/WriterPanelMessage/WriterMessage/@item.WriterID" title="Bu kişiye mesaj yazmak için tıkla">
                                                <span class="username">
                                                    @item.Writer.WriterName @item.Writer.WriterSurName
                                                    <span class="text-muted float-right">@(((DateTime)item.ContentDate).ToString("dd-MMM-yyyy"))</span>
                                                </span><!-- /.username -->
                                            </a>

                                            @item.ContentValue
                                        </div>
                                        <!-- /.comment-text -->
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.timeline -->
        </section>
        <!-- /.content -->
    </div>
    <!-- ./wrapper -->
</body>
</html>
