@using EntityLayer.Concrete
@model List<Message>

@{ int i = 0, day1 = 0, day2 = 0, day3 = 0;}
<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="far fa-comments"></i>
        <span class="badge badge-danger navbar-badge">@ViewBag.countInbox</span>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

        @foreach (var item in Model)
        {
            if (i >= 3)
            {
                break;
            }
            else
            {
                <a href="#" class="dropdown-item">
                    <div class="media">
                        <img src="~/AdminLTE-3.0.4/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                @item.SenderMail
                                <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                            </h3>

                            @if (item.MessageContent.Length >= 50)
                            {
                                <a href="/WriterPanelMessage/GetMessageDetail/@item.MessageID">

                                    <p class="text-sm">@Html.Raw(item.MessageContent.Substring(0, 30))...</p>
                                </a>
                            }
                            else if (item.MessageContent.Length < 50)
                            {
                                <a href="/WriterPanelMessage/GetMessageDetail/@item.MessageID">

                                    <p class="text-sm">@Html.Raw(item.MessageContent)</p>
                                </a>
                            }
                            @{day1 = (@DateTime.Now.Day);
                                day2 = @item.MessageDate.Day;
                                day3 = day1 - day2;
                            }
                            <p class="text-sm text-muted">
                                <i class="far fa-clock mr-1"></i>
                                @day3 gün
                            </p>
                        </div>
                    </div>
                </a>
                i++;
            }
        }

        <a href="/WriterPanelMessage/Inbox/" class="dropdown-item dropdown-footer">Tüm Mesajları Gör</a>
    </div>
</li>

